* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3vh;
    margin-top: 8vh;
    background: #FFB294;
    color: #003c62;
}

div#container {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

div#button {
    display: flex;
    column-gap: 3vh;
}

button {
    cursor: pointer;
    background: crimson;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    text-transform: uppercase;
}